<!DOCTYPE html>
<html lang="tr"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: Layout(~{::section})}">

<section>
    <header class="masthead">

        <div class="container">

            <div class="masthead-heading text-uppercase">
                TEST ALIŞTIRMALARI
            </div>

            <div class="masthead-subheading">
                API Test Örnekleri
            </div>

        </div>

    </header>

    <section class="page-section bg-light">

        <div class="container">

            <div class="text-center mb-5">

                <h2 class="section-heading text-uppercase">
                    API Request Örnekleri
                </h2>

                <h3 class="section-subheading text-muted">
                    GET - POST - PUT - DELETE
                </h3>

            </div>

            <div class="row justify-content-center">

                <div class="col-lg-10">
                    <div class="api-card mb-4">

                        <h3 class="api-title">
                            GET
                        </h3>

<pre>
GET https://jsonplaceholder.typicode.com/posts/1

Response:
Status: 200 OK
</pre>

                    </div>

           
                    <div class="api-card mb-4">

                        <h3 class="api-title">
                            POST
                        </h3>

<pre>
POST https://jsonplaceholder.typicode.com/posts

Body:
{
  "title": "testfix",
  "body": "api test",
  "userId": 1
}

Response:
Status: 201 Created
</pre>

                    </div>

               
                    <div class="api-card mb-4">

                        <h3 class="api-title">
                            PUT
                        </h3>

<pre>
PUT https://jsonplaceholder.typicode.com/posts/1

Response:
Status: 200 OK
</pre>

                    </div>

                    <div class="api-card mb-4">

                        <h3 class="api-title">
                            DELETE
                        </h3>

<pre>
DELETE https://jsonplaceholder.typicode.com/posts/1

Response:
Status: 200 OK
</pre>

                    </div>

                </div>

            </div>

        </div>

    </section>

</section>

</html>