<!DOCTYPE html>
<html lang="tr"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: Layout(~{::section})}">

<section>

    <header class="masthead">

        <div class="container">

            <div class="masthead-heading text-uppercase">
                TEST ALIŞTIRMALARI
            </div>

            <div class="masthead-subheading">
                TESTFIX / Tooltip Testleri
            </div>

        </div>

    </header>


    <section class="page-section bg-light" id="tooltip-test">

        <div class="container">

            <div class="text-center">

                <h2 class="section-heading text-uppercase">
                    Selenium Tooltip Test Egzersizi
                </h2>

                <h3 class="section-subheading text-muted">
                    Selenium Tooltip Testi
                </h3>

            </div>

            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <div class="card shadow p-5">
                        <div class="d-flex justify-content-center flex-wrap gap-3">
                            <a id="gmailTooltip"
                               class="btn btn-primary btn-xl"
                               href="#"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Gmail">

                                <i class="fas fa-envelope"></i>
                            </a>

                            <a id="googleTooltip"
                               class="btn btn-primary btn-xl"
                               href="#"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Google">

                                <i class="fab fa-google"></i>

                            </a>

                            <a id="youtubeTooltip"
                               class="btn btn-primary btn-xl"
                               href="#"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="YouTube">

                                <i class="fab fa-youtube"></i>

                            </a>

                            <a id="githubTooltip"
                               class="btn btn-primary btn-xl"
                               href="#"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="GitHub">

                                <i class="fab fa-github"></i>

                            </a>

                            <a id="facebookTooltip"
                               class="btn btn-primary btn-xl"
                               href="#"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Facebook">

                                <i class="fab fa-facebook-f"></i>

                            </a>

                            <a id="rssTooltip"
                               class="btn btn-primary btn-xl"
                               href="#"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="RSS">

                                <i class="fas fa-rss"></i>

                            </a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <script>

        const tooltipTriggerList =
            [].slice.call(
                document.querySelectorAll('[data-bs-toggle="tooltip"]')
            );

        tooltipTriggerList.map(function (tooltipTriggerEl) {

            return new bootstrap.Tooltip(tooltipTriggerEl);

        });

    </script>

</section>

</html>