<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <title>HAKKIMIZDA - TESTFIX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="/assets/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
</head>

<body id="page-top">
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
		<a class="navbar-brand" href="#page-top">
						    <img src="/assets/img/testfixx.png" alt="TESTFIX Logo" />
						</a>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive">
            Menu <i class="fas fa-bars ms-1"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
				<li class="nav-item"><a class="nav-link" href="/">Ana Sayfa</a></li>
				<li class="nav-item"><a class="nav-link active" href="/about">Hakkımızda</a></li>
			    <li class="nav-item"><a class="nav-link" href="/services">Hizmetlerimiz</a></li>
				<li class="nav-item dropdown">
				    <a class="nav-link dropdown-toggle"
				       href="#"
				       id="testDropdown"
				       role="button"
				       data-bs-toggle="dropdown"
				       aria-expanded="false">
				        Test Pratikleri
				    </a>

				    <ul class="dropdown-menu">
				        <li>
				            <a class="dropdown-item" href="/testExercises/tooltip">
				                Tooltip Testleri
				            </a>
				        </li>
				        <li>
				            <a class="dropdown-item" href="/testExercises/loginTest">
				                Login Testleri
				            </a>
				        </li>
				        <li>
				            <a class="dropdown-item" href="/testExercises/dragAndDropAction">
				                Drag & Drop Testleri
				            </a>
				        </li>
						<li>
										 		  <a class="dropdown-item" href="/testExercises/popup">
												        Popup Testleri
											       </a>
												</li>
												<a class="dropdown-item" href="/testExercises/apiTest">
																																						       Apı Testleri
																																						      </a>
																																					    </li>
																																						<li>
																																																							 																		 <a class="dropdown-item" href="/testExercises/uploadDownload">
																																																							 																			    Upload-Download Testleri
																																																							 																	      </a>
																																																							 																		 </li>
				    </ul>
				</li>

				<li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
				<li class="nav-item dropdown">
							    <a class="nav-link dropdown-toggle"
							       href="#"
							       role="button"
							       data-bs-toggle="dropdown"
							       style="display:flex; align-items:center; gap:6px;">

							        <img src="/assets/img/flags/tr.png"
							             alt="TR"
							             style="width:21px; height:21px; border-radius:2px;">
							        Turkısh
							    </a>

							    <ul class="dropdown-menu dropdown-menu-end">
							        <li>
							            <a class="dropdown-item"
							               href="/#"
							               style="display:flex; align-items:center; gap:6px;">
							                <img src="/assets/img/flags/tr.png"
							                     alt="TR"
							                     style="width:21px; height:21px; border-radius:2px;">
							                Turkısh
							            </a>
							        </li>
							        <li>
							            <a class="dropdown-item"
							               href="/#"
							               style="display:flex; align-items:center; gap:6px;">
							                <img src="/assets/img/flags/eng.png"
							                     alt="EN"
							                     style="width:21px; height:21px; border-radius:2px;">
							                Englısh
							            </a>
							        </li>
							    </ul>
							</li>
			    <li class="nav-item"><a class="nav-link" href="/contact"> Whatsapp'dan Bize Ulaşın</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- HEADER -->
<header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase">Hakkımızda</div>
        <div class="masthead-subheading">TESTFİX / Hakkımızda</div>
    </div>
</header>

<section class="page-section" id="about">
         <div class="container">
             <div class="text-center">
                 <h2 class="section-heading text-uppercase">HAKKIMIZDA</h2>
                 <h3 class="section-subheading text-muted">TESTFIX / HAKKIMIZDA</h3>
             </div>
             <ul class="timeline">
                 <li>
                     <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="..." /></div>
                     <div class="timeline-panel">
                         <div class="timeline-heading">
                             <h4>KASIM 2025</h4>
                             <h4 class="subheading">TESTFIX DOĞUŞU</h4>
                         </div>
                         <div class="timeline-body"><p class="text-muted">Testin geleceği burada başlıyor. TESTFIX, yazılım testi alanında devrim yaratmak isteyen test mühendisinin bir hayaliyle doğdu. Biz manuel testten otomasyona, kurumsal projelerden girişimlere kadar pek çok test sürecinde yer aldık. Ama hep aynı soruyu sorduk:
					  “Neden test süreçleri hâlâ karmaşık, erişilemez ve yalnız yürütülüyor?” İşte bu sorudan yola çıkarak, kod yazma zorunluluğunu ortadan kaldıran, yapay zekâ ile desteklenen, ve en önemlisi birlikte öğrenip birlikte güçlenebileceğimiz bir topluluk hayal ettik.</p></div>
					  <h2 class="timeline-heading-last">Böylece TESTFIX doğdu.</h2>
                     </div>
                 </li>
                 <li class="timeline-inverted">
                     <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="..." /></div>
                     <div class="timeline-panel">
                         <div class="timeline-heading">
                             <h4 class="subheading">MİSYONUMUZ</h4>
                         </div>
                         <div class="timeline-body"><p class="text-muted">Tester’ları daha güçlü, görünür ve etkili hâle getirmek. Kod bilmeyenlerin de test sürecine katılabildiği, AI’nin işleri kolaylaştırdığı bir test dünyası kurmak.</p></div>
                     </div>
                 </li>
                 <li>
                     <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="..." /></div>
                     <div class="timeline-panel">
                         <div class="timeline-heading">
                             <h4 class="subheading">Neye İnanıyoruz?</h4>
                         </div>
                         <div class="timeline-body"><p class="text-muted">Testin sadece teknik değil, toplumsal bir değer olduğuna, Kalitenin ekip işi, öğrenmenin ise toplulukla mümkün olduğuna, Ve teknoloji ne kadar gelişirse gelişsin, en iyi testin insan odaklı olan olduğuna inanıyoruz.</p></div>
                     </div>
                 </li>
                 <li class="timeline-inverted">
                     <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg" alt="..." /></div>
                     <div class="timeline-panel">
                         <div class="timeline-heading">
                             <h4 class="subheading">TESTFIX Topluluğu</h4>
                         </div>
                         <div class="timeline-body"><p class="text-muted">TESTIMX sadece bir platform değil, bir harekettir.
					  Atölyeler, eğitimler, canlı yayınlar, başarı hikâyeleri ve bolca deneyim paylaşımıyla büyüyen
					  bir ekosistemdir.
					  Bugün binlerce tester bu yolculuğa adım attı.
					  Sen de artık yalnız değilsin.</p></div>
                     </div>
                 </li>
                 <li class="timeline-inverted">
                     <div class="timeline-image">
                         <h4>
						  Burası TESTFIX.
                             <br />
						  Testi kolaylaştırıyoruz.
                             <br />
                            
                         </h4>
                     </div>
                 </li>
             </ul>
         </div>
     </section>
	 
	 <footer class="footer py-4">
	               <div class="container">
	                   <div class="row align-items-center">
	                       <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2025</div>
	                       <div class="col-lg-4 my-3 my-lg-0">
	                           <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
	                           <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
	                           <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
	                       </div>
	                       <div class="col-lg-4 text-lg-end">
	                           <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
	                           <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
	                       </div>
	                   </div>
	               </div>
	           </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>
