<!DOCTYPE html>
<html lang="tr"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: Layout(~{::section})}">

<section>
    <header class="masthead">

        <div class="container">

            <div class="masthead-heading text-uppercase">
                HİZMETLERİMİZ
            </div>

            <div class="masthead-subheading">
                TESTFIX / Hizmetlerimiz
            </div>

        </div>

    </header>

    <section class="page-section bg-light" id="portfolio">

        <div class="container">

            <div class="text-center mb-5">

                <h2 class="section-heading text-uppercase">
                    Hizmetlerimiz
                </h2>

                <h3 class="section-subheading text-muted">
                    Test otomasyonu ve kalite çözümleri
                </h3>

            </div>

            <div class="row">

				<div class="col-lg-4 col-sm-6 mb-4">

				    <a th:href="@{/courses/selenium}" class="text-decoration-none d-block">

				        <div class="portfolio-item">

				            <div class="portfolio-image">
				                <img class="img-fluid"
				                     src="/assets/img/selenium.jpg"
				                     alt="Selenium"/>
				            </div>

				            <div class="portfolio-caption">

				                <div class="portfolio-caption-heading">
				                    Selenium
				                </div>

				                <div class="portfolio-caption-subheading text-muted">
				                    Web otomasyon test eğitimleri
				                </div>

				            </div>

				        </div>

				    </a>

				</div>

				<div class="col-lg-4 col-sm-6 mb-4">

				    <a th:href="@{/courses/postman}"
				       class="text-decoration-none d-block">

				        <div class="portfolio-item">

				            <div class="portfolio-image">
				                <img class="img-fluid"
				                     src="/assets/img/postman.png"
				                     alt="Postman"/>
				            </div>

				            <div class="portfolio-caption">

				                <div class="portfolio-caption-heading">
				                    Postman
				                </div>

				                <div class="portfolio-caption-subheading text-muted">
				                    API test eğitimleri
				                </div>

				            </div>

				        </div>

				    </a>

				</div>

				<div class="col-lg-4 col-sm-6 mb-4">

				    <a th:href="@{/courses/cypress}"
				       class="text-decoration-none d-block">

				        <div class="portfolio-item">

				            <div class="portfolio-image">
				                <img class="img-fluid"
				                     src="/assets/img/cypress.png"
				                     alt="Cypress"/>
				            </div>

				            <div class="portfolio-caption">

				                <div class="portfolio-caption-heading">
				                    Cypress
				                </div>

				                <div class="portfolio-caption-subheading text-muted">
				                    Web test otomasyon eğitimleri
				                </div>

				            </div>

				        </div>

				    </a>

				</div>

				<div class="col-lg-4 col-sm-6 mb-4">

				    <a th:href="@{/courses/appium}"
				       class="text-decoration-none d-block">

				        <div class="portfolio-item">

				            <div class="portfolio-image">
				                <img class="img-fluid"
				                     src="/assets/img/appiumm.png"
				                     alt="Appium"/>
				            </div>

				            <div class="portfolio-caption">

				                <div class="portfolio-caption-heading">
				                    Appium
				                </div>

				                <div class="portfolio-caption-subheading text-muted">
				                    Mobil test otomasyon eğitimleri
				                </div>

				            </div>

				        </div>

				    </a>

				</div>

				<div class="col-lg-4 col-sm-6 mb-4">

				    <a th:href="@{/courses/jmeter}"
				       class="text-decoration-none d-block">

				        <div class="portfolio-item">

				            <div class="portfolio-image">
				                <img class="img-fluid"
				                     src="/assets/img/Jmeter.png"
				                     alt="JMeter"/>
				            </div>

				            <div class="portfolio-caption">

				                <div class="portfolio-caption-heading">
				                    JMeter
				                </div>

				                <div class="portfolio-caption-subheading text-muted">
				                    Performans test eğitimleri
				                </div>

				            </div>

				        </div>

				    </a>

				</div>


				<div class="col-lg-4 col-sm-6 mb-4">

				    <a th:href="@{/courses/playwright}"
				       class="text-decoration-none d-block">

				        <div class="portfolio-item">

				            <div class="portfolio-image">
				                <img class="img-fluid"
				                     src="/assets/img/playwright.png"
				                     alt="Playwright"/>
				            </div>

				            <div class="portfolio-caption">

				                <div class="portfolio-caption-heading">
				                    Playwright
				                </div>

				                <div class="portfolio-caption-subheading text-muted">
				                    Modern web test otomasyon eğitimleri
				                </div>

				            </div>

				        </div>

				    </a>

				</div>

            </div>

        </div>

    </section>

</section>

</html>